name: Deploy .NET WebAPI

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'

      # 3. Publish (gera saída para ./publish)
      - name: Publish
        run: dotnet publish --configuration Homolog --output ./publish

      # 4. Deploy via FTP
      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./publish/
          server-dir: /api.rmboutique.com.br/
          git-ftp-args: --insecure
          dangerous-clean-slate: true   # limpa antes de copiar, evita lock
          exclude: |
            web.config                   # opcional: não sobrescreve arquivos críticos